*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
}
.cabecalho{
    background-image: url(/assets/Image/banner.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    display: flex;
    height: 70vh;
    width: 100vw;
}
.cabecalho__container{
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    margin: 2vw 10vw ;
    max-height: 3rem;
    padding: 0.5rem 2rem;
    width: 80vw;
    z-index: 10;
}
.cabecalho__logo{
    height: 4rem;
    width: 4rem;
}
.cabecalho__lista{  
    display: flex;
    justify-content: center;
    list-style: none;
}
.cabecalho__item{
    font-size: 1.25rem;
    padding-left: 2rem;
}
.cabecalho__item--link{
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}
.cabecalho__item--link:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.6s;
}
.principal{
    background-color: #1B1E23;
}
.cafe{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem 0;
}
.cafe__titulo{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.container{
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
}
.cafe__lista{
    list-style: none;
}
.cafe__item{
    padding: .75rem 0;
}
.almoco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}
.almoco__titulo{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.almoco__lista{
    list-style: none;
    margin-bottom: 1.25rem;
}
.almoco__item{
    margin: 0.75rem 0;
}
.almoco__texto{
    width: 80vw;
    text-align: center;
}
.jantar{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.jantar__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80vw;
}
.jantar__titulo{
    margin-bottom: 2rem;
    font-size: 2rem;
}
.jantar__item{
    align-items: center;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem ;
    width: 260px;
    margin: 0.5rem;
}
.jantar__item:hover{
    background-color: #FFA500;
    border: none;
    transition: 0.6s;
}
.jantar__imagem{
    margin-bottom: 0.5rem;
    width: 90%;
}
.jantar__box{
    padding: 1rem;
}
.jantar__nome{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
}
.jantar__preco{
    font-weight: 800;
    text-align: right;
    width: 100%;
}
.sobre{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
}
.sobre__titulo{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.sobre__container{
    display: flex;
    width: 60vw;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
}
.sobre__texto{
    width: 45%;
}
.sobre__imagem{
    width: 20vw;
}

@media screen and (max-width: 416px) {
    .cabecalho{
        background: url(/assets/Image/banner-360.png);
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 25vh;
        width: 100vw;
    }
    .cabecalho__container{
        width: 100vw;
        margin: 0;
        padding: .5rem .25rem;
    }
    .cabecalho__logo{
        width: 2.5rem;
        height: 2.5rem;
    }
    .cabecalho__item{
        font-size: 1rem;
        padding-left: 0.75rem;
    }
    .container{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 70vw;
    }
    .cafe__lista{
        width: 100%;
    }
    .cafe__item{
        width: 100%;
        text-align: center;
    }
    .cafe__item:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .almoco__lista{
        width: 100%;
    }
    .almoco__item{
        width: 100%;
        text-align: center;
    }
    .sobre__container{
        flex-direction: column;
    }
}